body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
 background-color: #85898b7c;

}

.search-wrapper {
  border-top: 1px solid #e9ecef;
}

.search-box label {
  font-weight: bold;
  padding: 0.75rem;
  margin-bottom: 0;
  color: #5b5757;
}

.search-row {
  display: flex;
  border-top: 2px solid #e9ecef;
  padding-top: 15px;
}

.search-row input {
  margin-right: 10px;
}

.img-fluidName{
  
}
.btn-primary{
position: relative;

}

.btn-button{
  background-color: blue;
  color: white;
}
.clicksubmit{
  margin-top:  10px;
  border-radius: 7px;
  background-color: blue;
  color: white;
  font-size: 20px;
}
.form-name{
  font-size: 20px;
  color:blue;
  
}

input{
  width: 50%;
  padding: 8px 10px;
  margin: 8px 0px;
  box-sizing: border-box;
  border: 2px;
  border-radius: 10px;
}